# Configuración de WebSocket para los clientes
VITE_WS_URL=ws://localhost:3001

# Configuración del Servidor Host
HOST_USER=admin
HOST_PASSWORD=password

# Seguridad (JWT y Sesiones)
JWT_SECRET=tu_secreto_para_jwt
SESSION_SECRET=tu_secreto_para_sesion
